# ==========================================
# Database (PrydeConnection)
# ==========================================
PrydeConnection__Host=
PrydeConnection__Port=5432
PrydeConnection__Database=pryde-dev
PrydeConnection__Username=
PrydeConnection__Password=
PrydeConnection__SslMode=Require

# ==========================================
# JWT (JwtSettings)
# ==========================================
JwtSettings__Key=
JwtSettings__Issuer=Pryde.Api
JwtSettings__Audience=Pryde.Client
JwtSettings__AccessTokenExpiryMinutes=60